//- トップページ用テンプレート
doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css", integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M", crossorigin="anonymous")
    title トップページ
  body
    header(class="container-fluid rounded-top")
      h1 すごいブログシステム
      nav(class="nav")
        a(class="nav-link" href="/") トップ
        a(class="nav-link" href="/profile") プロフィール
        a(class="nav-link" href="/entry/post") 記事投稿
    nav
      h2 タグ
      ul
        each val in tags
          li= val.name
    article
      each entry in entries
        h2= entry.title
        div 更新日時：#{entry.updated_at}
        div= entry.text
        div(class="btn-group" role="group")
          form(method="post" action="/entry/edit")
            input(class="btn btn-warning btn-sm" type="submit" value="編集")
          form(method="post" action="/entry/delete")
            input(class="btn btn-danger btn-sm" type="submit" value="削除")
    nav
    footer
