//- プロフィール用テンプレート
doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css", integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M", crossorigin="anonymous")
    style
      include css/style.css
    title プロフィール
  body
    //- include に関しては次のドキュメントを参照のこと
    //- https://pugjs.org/language/includes.html
    include header.pug
    
    div(class="container")
      h1 プロフィール
      form(action="/profile/update", method="post")
        div(class="row")
          div(class="col") 名前
          input(class="col form-control" name="name" type="text" value=profile.name)
        div(class="row")
          div(class="col") ニックネーム
          input(class="col form-control" name="nickname" type="text" value=profile.nickname)
        div(class="row")
          div(class="col") 血液型
          div(class="col form-control") #{profile.type}
        div(class="row")
          div(class="col") 誕生日
          input(class="col form-control" name="birthday" type="date" value=profile.birthday)
        div(class="row")
          div(class="col")
            //- ハリボテ
            input(class="btn btn-warning" type="submit", value="変更")
